<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DWM.Properties.Settings.DWMConnectionString" connectionString="server=173.212.206.152;user id=state;persistsecurityinfo=True;database=DWM"
            providerName="MySql.Data.MySqlClient" />
        <add name="173.212.206.152_DWM_Connection" connectionString="XpoProvider=MySql;server=173.212.206.152;port=3306;user id=; password=; database=DWM;persist security info=true;CharSet=utf8;" />
        <add name="173.212.206.152_DWM_Connection 1" connectionString="XpoProvider=MySql;server=173.212.206.152;port=3306;user id=state; password=102030; database=DWM;persist security info=true;CharSet=utf8;" />
        <add name="DWM.Properties.Settings.dwmConnectionString1" connectionString="server=localhost;user id=root;database=dwm;password=2845"
            providerName="MySql.Data.MySqlClient" />
        <add name="DWM.Properties.Settings.dwmConnectionString2" connectionString="server=localhost;user id=root;database=dwm;allowuservariables=True;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>